package {{basePackage}}.common.dto;

import com.fasterxml.jackson.databind.annotation.JsonDeserialize;
import com.fasterxml.jackson.databind.annotation.JsonPOJOBuilder;
import java.util.UUID;
import lombok.*;

@Value
@Builder
@JsonDeserialize(builder = {{className}}.{{className}}Builder.class)
public class {{className}} {
  public UUID id;

{{#fields}}
  public {{type}} {{name}};
{{/fields}}

  // Lombok will generate the builder, but Jackson needs to know how to interpret it
  @JsonPOJOBuilder(withPrefix = "")
  public static class {{className}}Builder {}
}