syntax = "proto3";

option java_package = "{{basePackage}}.grpc";

{{^isFirstStep}}
import "{{previousStepName}}.proto";
{{/isFirstStep}}

{{#isFirstStep}}
message {{inputTypeName}} {
{{#inputFields}}
{{#isListType}}
  repeated {{listInnerType}} {{name}} = {{fieldNumber}};
{{/isListType}}
{{^isListType}}
  {{protoType}} {{name}} = {{fieldNumber}};
{{/isListType}}
{{/inputFields}}
}
{{/isFirstStep}}

message {{outputTypeName}} {
{{#outputFields}}
{{#isListType}}
  repeated {{listInnerType}} {{name}} = {{fieldNumber}};
{{/isListType}}
{{^isListType}}
  {{protoType}} {{name}} = {{fieldNumber}};
{{/isListType}}
{{/outputFields}}
}

service Process{{serviceNameFormatted}}Service {
{{#isExpansion}}
  rpc remoteProcess({{#isFirstStep}}{{inputTypeName}}{{/isFirstStep}}{{^isFirstStep}}{{previousStepOutputTypeName}}{{/isFirstStep}}) returns (stream {{outputTypeName}});
{{/isExpansion}}
{{#isReduction}}
  rpc remoteProcess(stream {{#isFirstStep}}{{inputTypeName}}{{/isFirstStep}}{{^isFirstStep}}{{previousStepOutputTypeName}}{{/isFirstStep}}) returns ({{outputTypeName}});
{{/isReduction}}
{{^isExpansion}}
{{^isReduction}}
  rpc remoteProcess({{#isFirstStep}}{{inputTypeName}}{{/isFirstStep}}{{^isFirstStep}}{{previousStepOutputTypeName}}{{/isFirstStep}}) returns ({{outputTypeName}});
{{/isReduction}}
{{/isExpansion}}
}