syntax = "proto3";

option java_package = "{{basePackage}}.grpc";

message {{inputTypeName}} {
{{#inputFields}}
{{#isListType}}
  repeated {{listInnerType}} {{name}} = {{fieldNumber}};
{{/isListType}}
{{^isListType}}
  {{protoType}} {{name}} = {{fieldNumber}};
{{/isListType}}
{{/inputFields}}
}

message {{outputTypeName}} {
{{#outputFields}}
{{#isListType}}
  repeated {{listInnerType}} {{name}} = {{fieldNumber}};
{{/isListType}}
{{^isListType}}
  {{protoType}} {{name}} = {{fieldNumber}};
{{/isListType}}
{{/outputFields}}
}

service Process{{serviceNameFormatted}}Service {
{{#isExpansion}}
  rpc remoteProcess({{inputTypeName}}) returns (stream {{outputTypeName}});
{{/isExpansion}}
{{#isReduction}}
  rpc remoteProcess(stream {{inputTypeName}}) returns ({{outputTypeName}});
{{/isReduction}}
{{^isExpansion}}
{{^isReduction}}
  rpc remoteProcess({{inputTypeName}}) returns ({{outputTypeName}});
{{/isReduction}}
{{/isExpansion}}
}